<div class="flex">
  <div class="card123">
    <i class="fa1 fa fa-quote-right" aria-hidden="true"></i>
    <div class="text">
      I have been actively using their tools with national and international partners. Its been Incredibly helpful and awesome.
    </div>
    <div class="author a1">- Mark Bousson</div>
  </div>
  <div class="card123">
    <i class="fa2 fa fa-quote-right" aria-hidden="true"></i>
    <div class="text">
      Lorem ipsum dolor sit amet, solum diceret sed ad. Per soluta insolens cu. Qui at nostrud meliore, an quo dicam appetere.
    </div>
    <div class="author a2">- Author Name</div>
  </div>

</div>
