<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Css</a>
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Akhlaque</a>
    </li>
  </ul> -->
  <ul>
    <li><a routerLink='santa'>Santa</a></li>
    <li><a routerLink='card'>Weather Card</a></li>
    <li><a routerLink='aurora'>Aurora Ui</a></li>
    <li><a routerLink='bookmark'>Bookmark Ui</a></li>
    <li><a routerLink='cards'>Dynamic Card</a></li>
    <li><a routerLink='golden'>Golden Page</a></li>
    <li><a routerLink='expand'>Expanding Menu</a></li>
    <li><a routerLink='button'>Button</a></li>
    <li><a routerLink='transparent'>Card Ui</a></li>
    <li><a routerLink='groot'>Groot Card Ui</a></li>
    <li><a routerLink='clock'>Clock Ui</a></li>
    <li><a routerLink='form'>Form</a></li>
    <li><a routerLink='form2'>Form</a></li>
    <li><a routerLink='gridcards'>GridCards</a></li>
    <li><a routerLink='switch'>HappySwitch</a></li>
    <li><a routerLink='switch2'>OmletSwitch</a></li>
    <li><a routerLink='image'>Image</a></li>
    <li><a routerLink='text'>TextStyle</a></li>
    <li><a routerLink='loader'>Loader</a></li>
    <li><a routerLink='loader2'>Loader</a></li>
    <li><a routerLink='loader3'>Loader</a></li>
    <li><a routerLink='card3'>CardAnimated</a></li>
    <li><a routerLink='spinner'>Spinner</a></li>
    <li><a routerLink='pulse'>Pulse</a></li>
    <li><a routerLink='quotes'>Quotes</a></li>
    <li><a routerLink='radio'>RadioCard</a></li>
  </ul>
</nav>
<!-- <div class="container-fluid" style="margin-top:80px">
  <ul>
    <li><a routerLink='santa'>Santa</a></li>
    <li><a routerLink='card'>Weather Card</a></li>
    <li><a routerLink='aurora'>Aurora Ui</a></li>
    <li><a routerLink='bookmark'>Bookmark Ui</a></li>
    <li><a routerLink='cards'>Dynamic Card</a></li>
  </ul>
</div> -->
